@font-face {
  font-family: "FontAwesome";
  font-weight: normal;
  font-style: normal;
  src: url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.eot?v=4.3.0");
  src: url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.eot?#iefix&v=4.3.0") format("embedded-opentype"), url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.woff2?v=4.3.0") format("woff2"), url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.woff?v=4.3.0") format("woff"), url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.ttf?v=4.3.0") format("truetype"), url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.svg?v=4.3.0#fontawesomeregular") format("svg"); }

html {
  height: 100%; }

body {
  height: 100%;
  font-size: 1rem;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
  background-color: white;
  overflow-x: hidden; }

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none; }

h1 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 3em;
  font-weight: 400; }

h2 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.5em;
  font-weight: 300; }

h3 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 2em;
  font-weight: 500;
  margin-bottom: 0px;
  line-height: 1; }

h5 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1em;
  font-weight: 300; }

@media (min-width: 650px) {
  h1 {
    font-size: 5em; } }

p {
  font-size: 1.1em;
  line-height: 1.5em;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333; }

a {
  color: inherit;
  text-decoration: inherit;
  border-bottom: 1px solid #333;
  -webkit-transition: border-bottom .15s;
  -moz-transition: border-bottom .5s;
  -ms-transition: border-bottom .5s;
  -o-transition: border-bottom .5s;
  transition: border-bottom .5s; }

a:hover {
  border-bottom: 1px solid #efefef; }

sup {
  vertical-align: baseline;
  position: relative;
  top: -0.4em; }

sup a {
  color: #E00000;
  text-decoration: none;
  border-bottom: none; }

sup a:hover {
  color: #666 !important;
  text-decoration: none !important;
  border-bottom: none; }

header {
  position: absolute;
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 1em;
  color: #fff !important; }

header a {
  color: white !important;
  border-bottom: none; }

header a:hover {
  color: #E00000 !important;
  border-bottom: none; }

header > .left {
  float: left;
  padding: 21px 0 0 21px; }

footer {
  height: 100px;
  width: 100%;
  margin-top: 100px;
  background-color: #efefef;
  font-family: 'Roboto', Arial, sans-serif;
  font-size: .8em;
  margin-bottom: 8px; }

footer a {
  color: #E00000 !important;
  border-bottom: 1px solid #333 !important; }

footer a:hover {
  border-bottom: 1px solid #E00000 !important; }

footer > .left {
  float: left;
  padding: 42px 0 0 5vw;
  text-align: left; }

footer > .right {
  float: right;
  padding: 42px 5vw 0 0;
  text-align: right; }

@media (max-width: 375px) {
  footer > .left {
    padding: 42px 0 0 0;
    width: 100%;
    text-align: center; }
  footer > .right {
    display: none; } }

.title-wrapper {
  width: 100%;
  height: -moz-calc(100% - 16px);
  height: -webkit-calc(100% - 16px);
  height: calc(100% - 16px);
  display: -webkit-flex;
  /* Safari */
  -webkit-align-items: center;
  /* Safari 7.0+ */
  display: flex;
  align-items: center;
  background: black no-repeat fixed center;
  background-size: cover;
  color: white; }

.grey-wrapper {
  width: 100%;
  padding-top: 75px;
  padding-bottom: 20px;
  background-color: #333;
  color: white; }

.grey-wrapper .story p {
  color: white; }

.grey-wrapper .story a {
  border-bottom: 1px solid white;
  cursor: pointer; }

.grey-wrapper .story a:hover {
  border-bottom: 1px solid #666; }

.title {
  width: 100%;
  margin: auto;
  text-align: center; }

.title p {
  color: #efefef;
  margin-top: 30px;
  font-size: .8em; }

.title-main {
  border-bottom: 6px solid white; }

.story-wrapper {
  width: 100%;
  height: -moz-calc(100% - 16px);
  height: -webkit-calc(100% - 16px);
  height: calc(100% - 16px);
  display: -webkit-flex;
  /* Safari */
  -webkit-align-items: center;
  /* Safari 7.0+ */
  display: flex;
  align-items: center; }

.story {
  width: 30%;
  min-width: 345px;
  margin: 50px auto 50px auto; }

.divider {
  width: 100px;
  border-bottom: 3px solid #333;
  margin-bottom: -25px; }

.movie-container {
  width: 50%;
  min-width: 350px;
  max-width: 800px;
  margin: -25px auto 0 auto; }

.movie-wrapper {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  padding-top: 0;
  height: 0; }

.movie-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.map-header {
  width: 50%;
  min-width: 350px;
  margin: 25px auto 25px auto; }

.map-header h5 {
  margin: 5px 0 5px 0;
  color: #b5b5b5; }

.map-header p {
  font-size: .75em;
  font-weight: 400;
  margin-top: 25px;
  color: #b5b5b5; }

.map-header p.note {
  color: #E00000;
  opacity: .5; }

.map-footer {
  text-align: center;
  width: 75%;
  min-width: 350px;
  margin: 25px auto 25px auto;
  border-top: 1px solid #b5b5b5; }

.map-footer-p {
  font-family: "Roboto Mono", monospace;
  margin-top: 10px;
  font-size: .75em; }

.map-container {
  margin-top: 50px;
  margin-bottom: 50px;
  position: relative; }

.smallmap-container {
  margin-top: 50px;
  margin-bottom: 50px; }

.mediummap-container {
  margin-top: 50px;
  margin-bottom: 50px; }

.smallmap-wrapper {
  display: inline-block;
  position: relative; }

#smallmap-wrapperMed0 {
  z-index: 1; }

#smallmap-wrapperMed1 {
  z-index: 0; }

.mapcaption {
  border-top: 1px solid #b5b5b5;
  position: relative;
  margin-top: 8px;
  margin-bottom: 8px;
  text-align: center;
  font-family: "Roboto Mono", monospace;
  font-size: .8em; }

.labelTrophy {
  width: 1.25em;
  height: 1.25em;
  display: inline-block;
  margin-right: 8px; }

.labelTrophy img {
  height: 95%;
  position: absolute;
  bottom: 0; }

.slider {
  width: 250px;
  height: 15px;
  display: inline;
  overflow: visible; }

#play-button {
  position: relative;
  border: none;
  color: rgba(51, 51, 51, 0);
  background-color: #fff;
  margin: 0;
  width: 45px;
  cursor: pointer;
  height: 30px;
  font-size: 1em; }

.paused:before {
  content: "\f04b";
  font-family: FontAwesome;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: #333333; }

.paused:hover:before {
  color: #666; }

.played:before {
  content: "\f04c";
  font-family: FontAwesome;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: #333333; }

.played:hover:before {
  color: #666; }

.ended:before {
  content: "\f01e";
  font-family: FontAwesome;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: #333333; }

.ended:hover:before {
  color: #666; }

.ticks {
  font-size: 10px; }

.track,
.track-inset,
.track-overlay {
  stroke-linecap: round; }

.track {
  stroke: #666;
  stroke-width: 3px; }

.track-overlay {
  pointer-events: stroke;
  stroke-width: 10px;
  stroke: transparent;
  cursor: pointer; }

.slider-handle {
  fill: #666;
  stroke: #fff;
  stroke-width: 3px; }

.slider-handleStroke {
  fill: none;
  stroke: #666;
  stroke-width: .5px; }

.slider-tick {
  font-size: .8em;
  font-weight: 500; }

#sliderYear {
  font-size: 1.2em; }

.label {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 3px;
  border: #333 1px solid;
  border-bottom-width: 3px;
  color: #333;
  background-color: #ffffff;
  font-size: 10px;
  padding: 2px 3px 2px 3px;
  -webkit-transform: translate(-50%);
  -moz-transform: translate(-50%);
  -ms-transform: translate(-50%);
  -o-transform: translate(-50%);
  transform: translate(-50%); }

.label:after, .label:before {
  top: 18px;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none; }

.label:after {
  border-color: rgba(255, 255, 255, 0);
  border-top-color: #333;
  border-width: 4px;
  margin-left: -4px; }

.label:before {
  border-color: rgba(51, 51, 51, 0);
  border-top-color: #333;
  border-width: 4px;
  margin-left: -4px; }

#c1story {
  margin-top: 150px;
  margin-bottom: 25px;
  display: none;
  color: white; }

.chart-container {
  margin-bottom: 50px;
  position: relative; }

.chart-wrapper {
  display: inline-block;
  position: relative; }

.c1close {
  margin: auto;
  width: 50%;
  text-align: center;
  font-size: .8em;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #b5b5b5;
  opacity: 0; }

.chart-overtext {
  position: absolute;
  left: 0;
  top: 0;
  width: 300px;
  color: #fff;
  padding: 10px;
  background-color: #333;
  opacity: 0; }

#chart1 {
  width: 100%;
  margin: 0 auto 0 auto; }

.c1elementsSVG, .c1axisSVG {
  overflow: visible; }

.c1search {
  width: 175px;
  position: absolute;
  background-color: #333;
  left: 0;
  top: 0; }

.c1search:first-of-type {
  border: 1px solid #b5b5b5;
  border-right: 3px solid #b5b5b5;
  border-bottom: 3px solid #b5b5b5;
  border-radius: 0 2px 0 2px; }

.searchicon {
  display: inline-block;
  width: 20px;
  padding-left: 2px;
  font-size: .8em; }

.searchcity {
  display: inline-block;
  width: 145px;
  padding: 5px 0 5px 5px; }

.searchcity #c1search-bar {
  font-size: .75em;
  height: 25px;
  background-color: #333; }

.c1tick, .c1tickmain {
  stroke: #666;
  stroke-dasharray: 1,1; }

.c1axisContainer {
  position: relative; }

.c1axis {
  fill: #b5b5b5;
  text-anchor: middle;
  font-family: "Roboto Mono", monospace;
  font-size: 9px; }

.c1label {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 9px;
  fill: #b5b5b5;
  opacity: .75; }

#chart2 {
  width: 75%;
  min-width: 345px;
  margin: 0 auto 200px auto; }

.chart2left {
  display: inline-block;
  width: 66%; }

.chart2right {
  display: inline-block;
  float: right;
  width: 25%; }

.chart2rightP {
  font-family: "Roboto Mono", monospace;
  font-size: .8em;
  margin-bottom: 10px; }

.c2tl {
  display: inline-block;
  height: 60px; }

@media (max-width: 768px) {
  .chart2left {
    width: 100%; }
  .chart2right {
    display: none; }
  .c2top {
    display: block; }
  body {
    width: 100%;
    margin: 0; } }

#c2city {
  border-bottom: 2px solid #efefef;
  width: 100%; }

.c2rTitles {
  font-family: "Roboto Mono", monospace;
  font-size: 1em; }

.c2rTitles .c2rTitlesSpan {
  font-size: 3em !important; }

.c2rTitlesSpan {
  display: inline-block;
  width: 40%;
  margin: 0;
  float: none; }

.c2rTitlesCaption {
  font-family: "Roboto Mono", monospace;
  font-size: 1em;
  text-transform: uppercase; }

.c2rTitles .c2rTitlesCaption {
  font-size: .8em !important; }

.c2rWinningTeams h6 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: .75em;
  font-weight: 500 !important;
  color: #efefef;
  padding-bottom: 3px;
  margin-bottom: 8px;
  border-bottom: 2px solid #efefef; }

.c2rWinningList {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: .9em; }

.c2winListRow {
  padding-bottom: 2px; }

.chart2city {
  display: inline-block;
  padding: 5px 0 5px 3px;
  width: 190px;
  font-weight: 300; }

.chart2header .chart2city, .chart2right .chart2city {
  font-size: .75em;
  font-weight: 500 !important;
  color: #efefef;
  padding: 3px 0 3px 0px;
  padding-bottom: 3px; }

.chart2header {
  border-bottom: 2px solid #efefef; }

.chart2legend {
  display: inline-block;
  height: 12px;
  font-size: 0;
  margin-left: -6px; }

.chart2legendEntry {
  display: inline-block;
  width: 25px;
  padding: 0 0 0 3px;
  font-family: "Roboto Mono", monospace;
  font-size: 8px;
  margin: 0; }

.showMoreWrapper {
  width: 50%;
  margin: 25px auto 150px auto;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 10px; }

.showMore {
  background-color: #444;
  padding: 5px 10px;
  cursor: pointer; }

.showMore:hover {
  background-color: #555; }

@media (max-width: 768px) {
  .chart2legendEntry {
    width: auto;
    padding: 0 3px 0 3px; } }

.c2option {
  font-family: "Roboto Mono", monospace;
  font-weight: 500;
  font-size: .8em;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-right: 10px;
  opacity: .75;
  cursor: pointer; }

.c2option:hover {
  border-bottom: 1px solid white; }

.c2optionActive {
  opacity: 1;
  border-bottom: 1px solid white; }

.c2subOption {
  font-family: "Roboto Mono", monospace;
  font-weight: 300;
  font-size: .6em;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-right: 10px;
  opacity: .75;
  cursor: pointer; }

.c2subOption:hover {
  border-bottom: 1px solid white; }

.c2subOptionActive {
  opacity: 1;
  border-bottom: 1px solid white; }

.m0filter {
  display: block; }

.m0option {
  font-family: "Roboto Mono", monospace;
  font-weight: 500;
  font-size: .8em;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-right: 10px;
  opacity: .75;
  cursor: pointer; }

.m0option:hover {
  border-bottom: 1px solid #666; }

.m0optionActive {
  opacity: 1;
  border-bottom: 1px solid #666; }

.m0subOption {
  font-family: "Roboto Mono", monospace;
  font-weight: 300;
  font-size: .6em;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-right: 10px;
  opacity: .75;
  cursor: pointer; }

.m0subOption:hover {
  border-bottom: 1px solid #666; }

.m0subOptionActive {
  opacity: 1;
  border-bottom: 1px solid #666; }

.cMain {
  cursor: pointer; }

.chart1rowMain {
  background-color: #333;
  cursor: pointer; }

.chart1rowmain p {
  font-family: "Roboto Mono", monospace;
  color: #b5b5b5;
  font-size: .75em; }

.chart2lastrow {
  margin-top: 20px;
  background-color: #444; }

.chart2rank {
  display: inline-block;
  width: 20px;
  padding-left: 2px;
  font-family: "Roboto Mono", monospace;
  font-size: .8em; }

.chart2label {
  font-family: "Roboto Mono", monospace;
  font-size: .5em; }

.c2ticks, .c2text {
  pointer-events: none;
  text-transform: uppercase; }

.chart2svg, .c1svg {
  overflow: visible; }

.cityline {
  stroke: #555;
  stroke-width: 1px;
  opacity: .5;
  fill: none; }

#chart1-losAngelesCA, #chart1-newYorkNY, #chart1-torontoON, #chart1-bostonMA, #chart1-montrealQC {
  opacity: .75;
  stroke: #b5b5b5;
  stroke-width: 2px; }

.focus text {
  font-family: "Roboto Mono", monospace;
  fill: #fff; }

.focus .subFocus {
  font-family: "Roboto Mono", monospace;
  font-size: .75em; }

.voronoi path {
  fill: none; }

.dot {
  pointer-events: none; }

.y.axis path, x.axis path {
  display: none; }

.tick line {
  stroke: #666;
  stroke-dasharray: 1,1;
  opacity: .5; }

.x.axis .domain {
  stroke: #666;
  stroke-dasharray: 1,1;
  opacity: .5; }

.x.axis text, .y.axis text {
  fill: #666;
  font-family: "Roboto Mono", monospace;
  text-transform: uppercase; }

.y.axis text {
  text-anchor: start;
  text-shadow: 0 6px 0 #fff, 6px 0 0 #fff, 0 -6px 0 #fff, -6px 0 0 #fff; }

.c1labels {
  font-family: "Roboto Mono", monospace;
  font-size: .75em;
  fill: #b5b5b5;
  text-anchor: end;
  text-shadow: 0 6px 0 #333, 6px 0 0 #333, 0 -6px 0 #333, -6px 0 0 #333; }

.colourdot {
  display: inline-block;
  background-color: black;
  margin-right: 5px;
  margin-top: 1px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  opacity: .75; }

#cTitle {
  background-color: #f9ed35; }

#cFinal {
  background-color: #a17bff; }

#cFinalFour {
  background-color: #fc545d; }

#lMLB {
  background-color: #beaed4; }

#lCFL {
  background-color: #7fc97f; }

#lMLS {
  background-color: #fdc086; }

#lNBA {
  background-color: #ffff99; }

#lNFL {
  background-color: #f0027f; }

#lNHL {
  background-color: #bf5b17; }

#lNCAA {
  background-color: #386cb0; }

.key {
  font-size: .8em;
  padding: 2px 3px 0 3px;
  border: 1px solid #666;
  color: #666;
  border-radius: 3px;
  border-bottom-width: 3px;
  border-right-width: 2px; }

.annotation {
  pointer-events: none; }

.annotation-note-title {
  font-size: 1em;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  fill: #E00000 !important;
  pointer-events: none; }

.proVsmapAnnotation .annotation-note-title {
  font-size: .8em; }

.annotation-note-label {
  font-size: .75em;
  font-family: "Roboto Mono", monospace;
  fill: #333 !important;
  pointer-events: none; }

.proVsmapAnnotation .annotation-note-label {
  font-size: .5em; }

.proVsmapAnnotation {
  pointer-events: none; }

.mainAnno {
  font-size: .5em;
  font-family: "Roboto Mono", monospace;
  fill: #333;
  pointer-events: none; }

.cityAnno {
  font-size: .5em;
  font-family: "Roboto Mono", monospace;
  fill: #b5b5b5;
  pointer-events: none; }

.cityAnnoBG {
  font-size: .5em;
  font-family: "Roboto Mono", monospace;
  fill: white;
  stroke: white;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  pointer-events: none; }

.mainAnnoBG {
  font-size: .5em;
  font-family: "Roboto Mono", monospace;
  fill: white;
  stroke: white;
  stroke-width: 2;
  stroke-linejoin: round;
  pointer-events: none; }

.annotation-connector .connector {
  stroke: #333 !important; }

.annotation-connector .connector-end {
  fill: #333 !important;
  stroke: none; }

.annotation-end {
  text-anchor: end; }

.annotation-start {
  text-anchor: start; }

.map0Annotation {
  opacity: 0;
  -webkit-transition: opacity .15s ease-in-out;
  -moz-transition: opacity .5s ease-in-out;
  -ms-transition: opacity .5s ease-in-out;
  -o-transition: opacity .5s ease-in-out;
  transition: opacity .5s ease-in-out; }

.map0AnnotationCurrent .annotation-note-title, .map0AnnotationCurrent .annotation-note-label {
  fill: #b5b5b5 !important; }

.map0AnnotationCurrent .annotation-connector .connector {
  stroke: #E00000 !important; }

.search-container {
  width: 100%;
  display: block;
  margin: 0 auto; }

#search-bar, #c1search-bar, #search-bar2 {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 40px;
  padding: 0 0 0 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: .8rem;
  color: #fff;
  border: none;
  background-color: #444;
  outline: none; }
  #search-bar:focus, #c1search-bar:focus, #search-bar2:focus {
    border: none;
    color: #fff; }

.easy-autocomplete-container {
  margin-left: -27px; }

.easy-autocomplete-container ul li {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: .8em; }

#c1search, #c1search2 {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 40px;
  padding: 0 0 0 10px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1rem;
  color: #fff;
  border: none;
  background-color: #444;
  outline: none; }
  #c1search:focus, #c1search2:focus {
    border: none;
    color: #fff; }

#c1search2 {
  width: 90%; }

#c1searchsubmit {
  float: right;
  position: relative;
  z-index: 1;
  margin-top: -30px;
  margin-right: -5px;
  cursor: pointer; }

#searchsubmit {
  margin-left: 5px;
  cursor: pointer; }

.overchart {
  width: 200px;
  position: absolute;
  top: 100px;
  left: 20px; }

.c2searchWrapper {
  display: none; }

@media (max-width: 768px) {
  .overchart {
    display: none; }
  .c2searchWrapper {
    display: block; } }

.onlymobile {
  display: none; }

.hr-text {
  margin-top: 50px;
  margin-bottom: 50px;
  width: 60%;
  min-width: 345px;
  line-height: 1em;
  position: relative;
  outline: 0;
  border: 0;
  color: black;
  text-align: center;
  height: 1.5em;
  opacity: .5; }
  .hr-text:before {
    content: '';
    background: linear-gradient(to right, transparent, #818078, transparent);
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 1px; }
  .hr-text:after {
    content: attr(data-content);
    position: relative;
    display: inline-block;
    color: black;
    padding: 0 .5em;
    line-height: 1.5em;
    color: #818078;
    background-color: #fcfcfa; }

.hr-last {
  margin-top: 50px;
  margin-bottom: 50px; }

.hr-text-dark {
  margin-top: 50px;
  margin-bottom: 50px;
  width: 60%;
  min-width: 345px;
  line-height: 1em;
  position: relative;
  outline: 0;
  border: 0;
  color: black;
  text-align: center;
  height: 1.5em;
  opacity: .5; }
  .hr-text-dark:before {
    content: '';
    background: linear-gradient(to right, transparent, #818078, transparent);
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 1px; }
  .hr-text-dark:after {
    content: attr(data-content);
    position: relative;
    display: inline-block;
    color: black;
    padding: 0 .5em;
    line-height: 1.5em;
    color: #818078;
    background-color: #333; }

.methodology p {
  font-size: .8em;
  color: #666; }

ol {
  margin: 0;
  padding: 0 0 0 10px; }

li {
  font-family: "Roboto Mono", monospace;
  font-size: .8em; }

ol li p {
  font-size: 1em !important;
  margin: 0; }

ol li::marker {
  color: #666; }

#scrolly-overlay .scrolly {
  width: 75%;
  min-width: 345px;
  margin: 0 auto 500px auto;
  overflow: visible; }

.sticky {
  position: sticky;
  width: 100%;
  height: auto;
  margin: 0;
  top: 0;
  left: 0;
  z-index: 1; }

.s1 .sticky {
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  transform: translate(0, -50%); }

article {
  padding: 0;
  width: 100%;
  margin: 0 auto;
  position: relative; }

.s1 article {
  max-width: 30rem;
  width: 30rem;
  display: block;
  pointer-events: none;
  z-index: 1; }

.step {
  min-height: 95vh;
  margin: auto;
  margin-bottom: 1rem; }

#step3 {
  min-height: 150vh; }

.step-inner {
  margin: 0;
  padding: 1rem;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.5em;
  font-weight: 300;
  background-color: white;
  -webkit-box-shadow: 0px 0px 41px -1px rgba(153, 153, 153, 0.8);
  -moz-box-shadow: 0px 0px 41px -1px rgba(153, 153, 153, 0.8);
  box-shadow: 0px 0px 41px -1px rgba(153, 153, 153, 0.8);
  border-radius: 2px;
  pointer-events: all; }

.step-inner .note {
  margin-top: 25px;
  font-size: .7em;
  color: #E00000; }

.step-inner .instructions {
  margin-top: 25px;
  font-size: .75em; }

.c1top {
  background-color: #333;
  width: calc(100% + 30px);
  margin: 0 0 0 -20px;
  padding: 5px 0 0 20px; }

.d3-tip {
  z-index: 99;
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
  pointer-events: none;
  width: 200px; }

.d3-tip h1 {
  font-family: "Roboto Mono", monospace;
  font-size: 1em;
  margin: 0 0 10px 0; }

.d3-tip h2 {
  font-size: .6em;
  margin: 5px 0 0 0;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 1px; }

.d3-tip p {
  font-size: .6em;
  margin: 2px 0 8px 0;
  color: white; }

.scatter svg {
  overflow: visible; }

.s1ann {
  stroke: #E00000;
  stroke-width: 1;
  stroke-dasharray: 3,3;
  opacity: .25;
  pointer-events: none; }

.s1label {
  font-family: "Roboto Mono", monospace;
  font-size: .6em;
  text-anchor: middle;
  fill: #666;
  pointer-events: none; }

.s1labelBG {
  font-family: "Roboto Mono", monospace;
  font-size: .6em;
  text-anchor: middle;
  fill: white;
  stroke: white;
  stroke-width: 3px;
  pointer-events: none; }

.s1annT, .s1annST {
  font-family: "Roboto Mono", monospace;
  font-size: .75em;
  text-anchor: middle;
  fill: #666;
  text-shadow: 0 6px 0 #fff, 6px 0 0 #fff, 0 -6px 0 #fff, -6px 0 0 #fff;
  pointer-events: none; }

.s1annST {
  fill: #E00000; }

.s1guide {
  font-family: "Roboto Mono", monospace;
  font-size: .6em;
  text-anchor: middle; }

.s1filter {
  margin-top: 15px;
  width: 100%; }

.fleft, .fright {
  height: 100%;
  width: 50%;
  display: inline-block;
  margin: 0; }

.fleft {
  float: left; }

.s1switch {
  font-family: "Roboto Mono", monospace;
  padding: 0px;
  overflow: hidden; }

.s1switch p {
  font-family: "Roboto Mono", monospace;
  font-size: 11px;
  margin-bottom: 5px; }

.switch-title {
  margin-bottom: 6px; }

.s1switch input {
  position: absolute !important;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  width: 1px;
  border: 0;
  overflow: hidden; }

.s1switch label {
  float: left; }

.s1switch label {
  display: inline-block;
  width: auto;
  background-color: #fff;
  color: rgba(0, 0, 0, 0.7);
  font-size: 11px;
  font-weight: normal;
  text-align: center;
  text-shadow: none;
  padding: 6px 10px;
  border: 1px solid #333;
  border-right: none;
  border-bottom: 5px solid #333;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out; }

.s1switch label:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.7);
  color: white; }

.s1switch input:checked + label {
  background-color: #333;
  color: white;
  -webkit-box-shadow: none;
  box-shadow: none; }

.s1switch label:first-of-type {
  border-radius: 0 0 0 4px; }

.s1switch label:last-of-type {
  border-radius: 0 4px 0 0;
  border-right: 5px solid #333; }
