@font-face {
  font-family: "FontAwesome";
  font-weight: normal;
  font-style: normal;
  src: url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.eot?v=4.3.0");
  src: url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.eot?#iefix&v=4.3.0") format("embedded-opentype"), url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.woff2?v=4.3.0") format("woff2"), url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.woff?v=4.3.0") format("woff"), url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.ttf?v=4.3.0") format("truetype"), url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.svg?v=4.3.0#fontawesomeregular") format("svg"); }

html {
  height: 100%; }

body {
  height: 100%;
  font-size: 1rem;
  font-family: "aktiv-grotesk", sans-serif;
  color: #191919;
  background-color: white;
  overflow-x: hidden; }

input:focus, select:focus, textarea:focus, button:focus {
  outline: none; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.container {
  width: 100%;
  min-height: -mox-calc(100% - 16px);
  min-height: -webkit-calc(100% - 16px);
  min-height: calc(100% - 16px);
  align-items: center; }

.container.full {
  padding-top: 25vh;
  padding-bottom: 25vh; }

.dark {
  background-color: #1b2129;
  color: white; }

section {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

section#title, section#wrapup {
  width: 50%;
  min-width: 345px; }

section.content {
  width: 30%;
  min-width: 345px; }

section.wide {
  width: 75%;
  min-width: 378px;
  margin-bottom: 25vh; }

section.side {
  width: 75%;
  min-width: 345px;
  margin: 0 auto 0 auto; }
  @media screen and (min-width: 768px) {
    section.side {
      flex-direction: row; } }
  section.side > * {
    flex: 1; }
  section.side figure {
    position: -webkit-sticky;
    position: sticky;
    display: flex;
    align-items: center;
    align-self: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    flex-grow: 1;
    height: 330px;
    margin: 25px 0 0 0;
    width: 100%;
    top: 175px;
    -webkit-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    transform: translate(0, -50%); }
    section.side figure .header {
      width: 100%; }
      section.side figure .header svg {
        margin-bottom: 1rem;
        overflow: visible; }
        section.side figure .header svg text {
          font-family: "Inconsolata", monospace;
          font-size: .8em;
          fill: #333;
          text-transform: capitalize; }
          @media screen and (max-width: 375px) {
            section.side figure .header svg text {
              font-size: .7em; } }
          section.side figure .header svg text.fontawesome {
            text-transform: none;
            font-family: FontAwesome; }
    @media screen and (min-width: 768px) {
      section.side figure {
        flex: 2;
        height: 630px;
        top: 50px;
        margin: 0;
        -webkit-transform: translate(0, 0);
        -moz-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        -o-transform: translate(0, 0);
        transform: translate(0, 0); } }
  section.side article {
    padding: 0 1rem;
    pointer-events: none;
    z-index: 99; }
    section.side article .step {
      font-family: "aktiv-grotesk", sans-serif;
      font-size: 1.1em;
      line-height: 1.8em;
      min-height: 100vh;
      margin-top: 150px;
      color: #666;
      transition: all 250ms ease-in-out; }
      @media screen and (min-width: 768px) {
        section.side article .step {
          margin: 150px 0 0 0;
          flex: 1;
          min-height: 30vh; } }
      section.side article .step.last {
        min-height: 150vh; }
        @media screen and (min-width: 768px) {
          section.side article .step.last {
            min-height: 50vh; } }
      section.side article .step.active {
        color: white; }
        @media screen and (max-width: 768px) {
          section.side article .step.active {
            color: #191919; } }
      section.side article .step.light {
        color: #b5b5b5; }
        section.side article .step.light.active {
          color: #191919; }
      @media screen and (max-width: 768px) {
        section.side article .step .inner {
          background-color: white;
          -webkit-box-shadow: 0px 0px 5px 2px rgba(153, 153, 153, 0.5);
          -moz-box-shadow: 0px 0px 5px 2px rgba(153, 153, 153, 0.5);
          box-shadow: 0px 0px 5px 2px rgba(153, 153, 153, 0.5);
          padding: 10px 25px;
          width: 75%;
          min-width: 300px;
          margin: auto; } }

.sticky {
  position: sticky;
  width: 100%;
  height: auto;
  margin: 0;
  top: 0;
  left: 0;
  z-index: 1; }

.prose, .intro {
  padding: 0 10px;
  width: 100%; }

.prose img {
  height: 30px;
  margin: 40px 0 0 0;
  line-height: 60px; }

.intro {
  width: 100%; }

.footnotes {
  margin-top: 50px;
  opacity: .5; }
  .footnotes:hover {
    opacity: .8; }
  .footnotes ol, .footnotes p {
    font-size: .75rem; }

.desktop {
  display: none !important; }
  @media screen and (min-width: 768px) {
    .desktop {
      display: inline-block !important; } }

.mobile {
  display: inline-block !important; }
  @media screen and (min-width: 768px) {
    .mobile {
      display: none !important; } }

h1 {
  font-family: "Cormorant Garamond", serif;
  font-size: 2rem;
  line-height: 1;
  letter-spacing: 0.025em;
  font-weight: 700;
  margin: 0; }
  @media screen and (min-width: 768px) {
    h1 {
      font-size: 3rem;
      line-height: 1;
      letter-spacing: 0.025em; } }

h2 {
  font-family: "Cormorant Garamond", serif;
  font-weight: 700;
  font-size: 2rem;
  letter-spacing: 0.025em;
  margin: .5rem 0 .5rem 0;
  color: #191919; }
  @media screen and (min-width: 768px) {
    h2 {
      font-size: 2.5rem;
      line-height: 1; } }

h3 {
  font-family: "aktiv-grotesk", sans-serif;
  font-weight: normal;
  color: #FF6A68;
  font-size: .7rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 0; }

h4 {
  font-family: "Cormorant Garamond", serif;
  font-weight: normal;
  font-size: 1.5em;
  margin: 0 0 .75em 0;
  color: #FF6A68; }

h5 {
  color: #666;
  font-weight: bold;
  font-size: .8em;
  line-height: normal; }

.offsetcolour {
  color: #FF6A68; }

.dark h3, .dark h4 {
  color: #FF6A68; }

.dark h2 {
  color: #f9f9fa; }

.icon {
  font-family: "FontAwesome" !important; }

p {
  font-family: "aktiv-grotesk", sans-serif;
  font-weight: normal;
  font-size: 1em;
  line-height: 1.5em; }
  @media screen and (min-width: 768px) {
    p {
      font-size: 1.2rem;
      line-height: 1.75em; } }

a {
  font-family: inherit;
  color: #666;
  text-decoration: none;
  border-bottom: 1.5px solid;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out; }
  a:hover {
    color: #333; }

.footnote {
  color: #FF6A68;
  border: none;
  font-size: .75em;
  font-family: "Inconsolata", monospace; }

p.caption {
  font-family: "aktiv-grotesk", sans-serif;
  font-weight: normal;
  font-size: .75em;
  width: 50%;
  min-width: 320px;
  margin: auto;
  color: #b5b5b5;
  margin-top: 25vh; }

.button-wrapper {
  position: relative;
  width: 100%; }

.button {
  font-family: "aktiv-grotesk", sans-serif;
  font-size: .7em;
  font-weight: bold;
  text-transform: uppercase;
  color: #666;
  cursor: pointer;
  pointer-events: all;
  margin-top: 1em;
  margin-right: .1em;
  width: auto;
  display: inline-block;
  padding: 0px 5px;
  border-radius: 1px 3px;
  border-right: 3px solid #666;
  border-bottom: 3px solid #666;
  -webkit-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease; }
  @media screen and (min-width: 768px) {
    .button {
      margin-right: .25em; } }
  .button.mobile {
    margin-top: 0;
    margin-right: -5px !important; }
  .button:hover {
    -webkit-transform: translate(0, -2px);
    -moz-transform: translate(0, -2px);
    -ms-transform: translate(0, -2px);
    -o-transform: translate(0, -2px);
    transform: translate(0, -2px); }
  .button.isactive {
    border-color: #191919;
    color: #191919; }
  @media screen and (min-width: 768px) {
    .button.light {
      background-color: #b5b5b5; }
      .button.light.isactive {
        border-color: #b5b5b5;
        background-color: white; } }

.lightgray {
  color: #666; }

#subtitle-user-city {
  opacity: 0;
  color: #f9f9fa; }

.intro-emoji {
  opacity: 0; }

.intro-fade {
  opacity: 0; }

.groundrules {
  width: 100%;
  font-family: "Inconsolata", monospace; }

.filter-title {
  font-size: .9em;
  font-family: "aktiv-grotesk", sans-serif;
  margin-bottom: .5em; }
  @media screen and (min-width: 768px) {
    .filter-title {
      font-size: 1.2rem; } }

.filter-caption {
  font-family: "aktiv-grotesk", sans-serif;
  color: #b5b5b5;
  font-size: .75em;
  margin-top: 10px; }

.filter-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  margin-top: .7em; }
  .filter-wrapper.locationFilter-wrapper {
    margin-top: -.5em; }

.yearFilter {
  width: 300px;
  height: 25px;
  display: inline-block;
  padding: 15px 0 0 10px; }
  .yearFilter input[type=range] {
    position: absolute; }

input[type=range] {
  -webkit-appearance: none;
  /* Hides the slider so that custom slider can be made */
  width: 100%;
  /* Specific width is required for Firefox. */
  background: transparent;
  /* Otherwise white in Chrome */
  box-sizing: border-box;
  appearance: none;
  overflow: visible;
  outline: none;
  background: linear-gradient(#b5b5b5, #b5b5b5) no-repeat center;
  background-size: 100% 2px;
  pointer-events: none; }
  input[type=range]:active, input[type=range]:focus {
    outline: none; }
  input[type=range]::-ms-track {
    width: 100%;
    cursor: pointer;
    /* Hides the slider so custom styles can be added */
    background: transparent;
    border-color: transparent;
    color: transparent; }
  input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 10px;
    width: 10px;
    border-radius: 5px;
    background-color: #E00000;
    position: relative;
    cursor: pointer;
    appearance: none;
    pointer-events: all;
    z-index: 99; }
    input[type=range]::-webkit-slider-thumb::before {
      content: ' ';
      display: block;
      position: absolute;
      top: 13px;
      left: 100%;
      width: 2000px;
      height: 2px; }

.yearrange {
  overflow: visible;
  position: absolute; }
  .yearrange line {
    stroke: #E00000;
    stroke-width: 5; }
  .yearrange text {
    text-anchor: middle;
    font-size: 12px;
    fill: #191919; }
  .yearrange rect {
    fill: none;
    stroke: #191919;
    stroke-width: 1; }

.yearFilter_label {
  display: inline;
  font-family: "aktiv-grotesk", sans-serif;
  font-weight: bold;
  width: 20px;
  font-size: 11px;
  color: #666;
  position: absolute; }

#groundrules-including {
  opacity: 0; }

.searchwrapper {
  width: 275px;
  display: inline-block;
  text-align: left; }
  .searchwrapper .search-bar {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 47px;
    font-family: "Cormorant Garamond", serif;
    font-weight: bold;
    font-size: 18px;
    color: #E00000;
    padding: 0 0 3px 30px;
    border-top: 1px solid #333;
    border-right: 5px solid #333;
    border-bottom: 5px solid #333;
    border-left: 1px solid #333;
    border-radius: 3px 4px 3px 4px; }
    @media screen and (min-width: 768px) {
      .searchwrapper .search-bar {
        font-size: 24px; } }
  .searchwrapper #searchsubmit {
    position: absolute;
    margin: -35px 0 0 7px;
    cursor: pointer;
    font-size: 18px; }

.searchsuccess {
  font-size: 1em;
  padding: 4px 0 0 5px;
  display: none;
  opacity: 0;
  color: #E00000; }

.easy-autocomplete {
  width: 275px !important; }

.easy-autocomplete-container {
  margin: 0;
  width: 275px;
  top: 35px; }
  .easy-autocomplete-container ul {
    background-color: #191919; }
  .easy-autocomplete-container ul li {
    font-family: "Inconsolata", monospace;
    font-size: .9em;
    line-height: 1.1em;
    color: white; }

.p {
  font-family: "Cormorant Garamond", serif;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.5em;
  color: #333;
  text-align: center; }
  @media screen and (min-width: 768px) {
    .p {
      font-size: 24px;
      line-height: 1.75em; } }

.inline-dropdown {
  display: inline-block;
  position: relative;
  line-height: 38px;
  color: #E00000;
  padding: 0 0 3px 5px;
  border-top: 1px solid #333;
  border-right: 5px solid #333;
  border-bottom: 5px solid #333;
  border-left: 1px solid #333;
  border-radius: 3px 4px 3px 4px; }
  .inline-dropdown__select {
    appearance: none;
    padding: 0 0 0 0;
    background: transparent;
    border: 0;
    border-radius: 0;
    color: #E00000;
    font-weight: bold;
    font-family: "Cormorant Garamond", serif;
    font-size: 18px;
    -moz-appearance: none;
    /* Firefox */
    -webkit-appearance: none;
    /* Safari and Chrome */
    appearance: none; }
    @media screen and (min-width: 768px) {
      .inline-dropdown__select {
        font-size: 24px; } }
    .inline-dropdown__select:focus {
      outline: 0; }
  .inline-dropdown i {
    display: inline-block;
    position: absolute;
    top: .7rem;
    right: 4px;
    z-index: -99;
    width: 1rem;
    font-size: 1.25rem;
    color: inherit; }

#leagueselect_in, #leaguedrop, #sportdrop {
  opacity: 0;
  display: none; }

.bounce {
  animation-iteration-count: infinite;
  animation-duration: 5s;
  animation: bounce 3.6s ease infinite;
  transform-origin: 50% 50%; }

@keyframes bounce {
  0% {
    transform: translateY(0); }
  5.55556% {
    transform: translateY(0); }
  11.11111% {
    transform: translateY(0); }
  22.22222% {
    transform: translateY(-5px); }
  27.77778% {
    transform: translateY(0); }
  33.33333% {
    transform: translateY(-5px); }
  44.44444% {
    transform: translateY(0); }
  100% {
    transform: translateY(0); } }

.case1 svg {
  overflow: visible; }
  .case1 svg g {
    overflow: visible; }
  .case1 svg text {
    font-family: "aktiv-grotesk", sans-serif;
    font-size: 13px;
    fill: #666; }
    @media screen and (max-width: 375px) {
      .case1 svg text {
        font-size: .7em; } }
    .case1 svg text.label_actual, .case1 svg text.label_expected {
      font-family: "aktiv-grotesk", sans-serif;
      font-size: 8px;
      text-transform: uppercase;
      letter-spacing: 1px; }
    .case1 svg text.count, .case1 svg text.label-count {
      font-family: "Inconsolata", monospace;
      fill: #666; }
    .case1 svg text.expected {
      font-family: "Inconsolata", monospace;
      fill: #333;
      font-size: .6em;
      text-anchor: middle; }

#c1locationLine, #c2locationLine, #c3locationLine {
  stroke: #666;
  stroke-dasharray: 1,1; }

.showMore_wrapper {
  font-size: .5em;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-top: 30px;
  display: none;
  opacity: 0; }
  .showMore_wrapper .showMore {
    background-color: #f9f9fa;
    padding: 5px 10px;
    cursor: pointer; }
    .showMore_wrapper .showMore:hover {
      background-color: #666; }
    .showMore_wrapper .showMore.light {
      background-color: #333; }
      .showMore_wrapper .showMore.light:hover {
        background-color: black; }

#showMoreC3 {
  padding-bottom: 50px; }

.step_blank {
  opacity: .5;
  border-bottom: 1px solid;
  padding-bottom: 3px;
  pointer-events: all;
  cursor: pointer; }

.step0_local_div {
  display: none; }

.case2 svg {
  overflow: visible; }
  .case2 svg text {
    font-family: "aktiv-grotesk", sans-serif;
    font-size: .8em;
    fill: #f9f9fa; }
    @media screen and (max-width: 375px) {
      .case2 svg text {
        font-size: .7em; } }
    .case2 svg text.label_actual, .case2 svg text.label_expected {
      font-family: "aktiv-grotesk", sans-serif;
      font-size: 8px;
      text-transform: uppercase;
      letter-spacing: 1px; }
    .case2 svg text.count {
      font-family: "Inconsolata", monospace;
      fill: #b5b5b5; }
    .case2 svg text.expected {
      font-family: "Inconsolata", monospace;
      fill: #333;
      font-size: .6em;
      text-anchor: middle; }

.season, .result, .c2subrect {
  pointer-events: none; }

.d3-tip {
  z-index: 99;
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: #ffffff;
  color: #333;
  border-radius: 2px;
  pointer-events: none;
  width: 200px;
  -webkit-box-shadow: 0px 0px 5px 2px rgba(153, 153, 153, 0.5);
  -moz-box-shadow: 0px 0px 5px 2px rgba(153, 153, 153, 0.5);
  box-shadow: 0px 0px 5px 2px rgba(153, 153, 153, 0.5); }
  .d3-tip.dark-tip {
    background: #000000;
    color: white;
    -webkit-box-shadow: 0px 0px 5px 2px rgba(53, 53, 53, 0.5);
    -moz-box-shadow: 0px 0px 5px 2px rgba(53, 53, 53, 0.5);
    box-shadow: 0px 0px 5px 2px rgba(53, 53, 53, 0.5); }

.d3-tip .tipH {
  display: inline-block;
  margin-right: 5px; }

.d3-tip h1 {
  font-family: "aktiv-grotesk", sans-serif;
  font-size: 1em;
  font-weight: bold;
  margin: 0 0 10px 0; }

.d3-tip h2 {
  font-family: "aktiv-grotesk", sans-serif;
  font-size: .8em;
  margin: 5px 0 0 0;
  font-weight: normal; }

.d3-tip h3 {
  font-family: "aktiv-grotesk", sans-serif;
  font-size: .8em;
  text-transform: none;
  letter-spacing: 1px;
  color: #ffffff;
  padding: 2px; }

.d3-tip p {
  font-size: .6em;
  margin: 2px 0 8px 0; }

.case3 svg text {
  font-family: "aktiv-grotesk", sans-serif;
  font-size: 13px;
  fill: #666; }
  @media screen and (max-width: 375px) {
    .case3 svg text {
      font-size: .7em; } }
  .case3 svg text.label_actual, .case3 svg text.label_expected {
    font-family: "aktiv-grotesk", sans-serif;
    font-size: 8px;
    text-transform: uppercase;
    letter-spacing: 1px; }
  .case3 svg text.count, .case3 svg text.label-count {
    font-family: "Inconsolata", monospace;
    fill: #666; }
  .case3 svg text.expected {
    font-family: "Inconsolata", monospace;
    fill: #333;
    font-size: .6em;
    text-anchor: middle; }

.group3, .group3-behind {
  pointer-events: none; }

.wrapup-chart {
  margin: 25px 0 25px 0; }

.wrapup-list {
  min-height: 25px;
  min-width: 150px;
  width: 33%;
  display: inline-block; }
  .wrapup-list svg {
    overflow: visible; }
  .wrapup-list svg text {
    font-size: .9em;
    fill: #f9f9fa; }
  .wrapup-list svg .placement {
    font-size: .75em;
    font-family: "Inconsolata", monospace; }
  .wrapup-list svg line {
    stroke: #666;
    stroke-dasharray: 1,1; }
  .wrapup-list h4 {
    margin-bottom: 0; }
  .wrapup-list .wrapup-sub {
    height: 50px;
    margin: 5px 0 5px 0;
    color: #666;
    font-size: .9em; }

.y.axis path, .x.axis path {
  display: none; }

.axis text {
  font-family: "Inconsolata", monospace !important;
  text-transform: uppercase;
  font-size: 1em !important; }

.tick line {
  stroke: #666;
  stroke-dasharray: 1,1;
  opacity: .5; }

.tick text {
  font-family: "Inconsolata", monospace !important;
  text-transform: uppercase; }

.custom-note text {
  font-family: "Inconsolata", monospace !important;
  text-transform: uppercase;
  fill: #666 !important;
  letter-spacing: 1px;
  font-size: 10px !important; }

.filter-container {
  position: fixed;
  bottom: 0;
  left: 8px;
  width: 230px;
  height: 250px;
  background-color: white;
  color: #b5b5b5;
  z-index: 100;
  -webkit-transform: translate(0, 211px);
  -moz-transform: translate(0, 211px);
  -ms-transform: translate(0, 211px);
  -o-transform: translate(0, 211px);
  transform: translate(0, 211px);
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  -webkit-box-shadow: 0px 0px 5px 2px rgba(153, 153, 153, 0.5);
  -moz-box-shadow: 0px 0px 5px 2px rgba(153, 153, 153, 0.5);
  box-shadow: 0px 0px 5px 2px rgba(153, 153, 153, 0.5); }
  .filter-container.ishidden {
    -webkit-transform: translate(0, 275px);
    -moz-transform: translate(0, 275px);
    -ms-transform: translate(0, 275px);
    -o-transform: translate(0, 275px);
    transform: translate(0, 275px); }
  .filter-container.isvisible {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0); }
  .filter-container .inline-dropdown {
    line-height: 1rem;
    width: auto;
    border-radius: 1px 3px;
    border-bottom: 3px solid #666;
    border-right: 3px solid #666;
    border-top: none;
    border-left: none;
    display: block;
    -webkit-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease; }
    .filter-container .inline-dropdown:hover {
      -webkit-transform: translate(0, -2px);
      -moz-transform: translate(0, -2px);
      -ms-transform: translate(0, -2px);
      -o-transform: translate(0, -2px);
      transform: translate(0, -2px); }
    .filter-container .inline-dropdown__select {
      color: #666;
      font-family: "aktiv-grotesk", sans-serif;
      font-weight: bold;
      font-size: .75rem;
      text-transform: uppercase; }
    .filter-container .inline-dropdown i {
      display: inline-block;
      position: absolute;
      top: 0;
      right: 0;
      z-index: -99;
      width: 1rem;
      font-size: 1rem;
      color: #666; }
  .filter-container .f-header {
    height: 40px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 8px;
    cursor: pointer; }
    .filter-container .f-header .left {
      display: inline-block;
      width: 60%;
      color: #333;
      font-size: .7em;
      text-transform: capitalize;
      pointer-events: none; }
    .filter-container .f-header .right {
      display: inline-block;
      float: right;
      text-align: right;
      text-transform: uppercase;
      letter-spacing: 2px;
      font-size: .8em; }
  .filter-container .f-section {
    width: 100%;
    height: 70px;
    padding: 8px 8px 0 8px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    font-family: "aktiv-grotesk", sans-serif;
    font-size: .75em;
    line-height: 2em; }
    .filter-container .f-section div {
      margin-right: 2px; }
  .filter-container .filter-wrapper {
    margin-top: 0; }
  .filter-container .filter-year {
    width: 213px;
    height: 15px;
    margin-top: 0;
    display: inline-block;
    padding: 10px 20px 0 0;
    position: relative; }
    .filter-container .filter-year input[type=range] {
      width: 100%;
      position: absolute;
      margin-top: -10px; }
      .filter-container .filter-year input[type=range]::-webkit-slider-thumb {
        background-color: #333; }
  .filter-container .searchwrapper {
    width: 213px; }
    .filter-container .searchwrapper .search-bar {
      height: 25px;
      font-family: "aktiv-grotesk", sans-serif;
      font-weight: bold;
      font-size: 1em;
      color: #666;
      padding: 0 0 0 20px;
      border-radius: 1px 3px;
      border-bottom: 3px solid #666;
      border-right: 3px solid #666;
      border-top: none;
      border-left: none; }
      @media screen and (min-width: 768px) {
        .filter-container .searchwrapper .search-bar {
          font-size: 1em; } }
    .filter-container .searchwrapper #searchsubmit {
      margin: -20px 0 0 5px;
      font-size: 1em;
      color: #666; }
  .filter-container .easy-autocomplete {
    width: 213px !important; }
  .filter-container .easy-autocomplete-container {
    width: 213px;
    top: 20px;
    font-size: 1.1em; }

.yearrange-left {
  overflow: visible;
  position: absolute; }
  .yearrange-left line {
    stroke: #333;
    stroke-width: 5; }

#filter-level {
  width: 75px; }

#filter-league {
  width: 125px;
  display: none;
  -webkit-transform: translate(0, -4px);
  -moz-transform: translate(0, -4px);
  -ms-transform: translate(0, -4px);
  -o-transform: translate(0, -4px);
  transform: translate(0, -4px); }
  #filter-league:hover {
    -webkit-transform: translate(0, -6px);
    -moz-transform: translate(0, -6px);
    -ms-transform: translate(0, -46x);
    -o-transform: translate(0, -6px);
    transform: translate(0, -6px); }

#filter-sport {
  width: 125px;
  display: none;
  -webkit-transform: translate(0, -4px);
  -moz-transform: translate(0, -4px);
  -ms-transform: translate(0, -4px);
  -o-transform: translate(0, -4px);
  transform: translate(0, -4px); }
  #filter-sport:hover {
    -webkit-transform: translate(0, -6px);
    -moz-transform: translate(0, -6px);
    -ms-transform: translate(0, -46x);
    -o-transform: translate(0, -6px);
    transform: translate(0, -6px); }

#filter-league-change {
  display: none; }
